@*I have created partial wiews for basic LAYOUT design. This part has _HeadPV.cshtml'code ' *@
@Html.Partial("_HeadPV.cshtml")
@*I have created partial wiews for basic LAYOUT design. This part has _PreloaderPV.cshtml'code ' *@
@Html.Partial("_PreloaderPV.cshtml")
@*I have created partial wiews for basic LAYOUT design. This part has _HeaderPV.cshtml'code ' *@
@Html.Partial("_HeaderPV.cshtml")
@*I have created partial wiews for basic LAYOUT design. This part has _BannerAreaPV.cshtml'code ' *@
@Html.Partial("_BannerAreaPV.cshtml")
@*I have created partial wiews for basic LAYOUT design. This part has _BannerAreaPV.cshtml'code ' *@
@Html.Partial("_ItemPV.cshtml")
    
    <body>
   

    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*I have created partial wiews for basic LAYOUT design. This part has _BannerAreaPV.cshtml'code ' *@
    @Html.Partial("_ActionPV.cshtml")

    @*I have created partial wiews for basic LAYOUT design. This part has _BannerAreaPV.cshtml'code ' *@
    @Html.Partial("_OurClassesPV.cshtml")

    @*I have created partial wiews for basic LAYOUT design. This part has _BannerAreaPV.cshtml'code ' *@
    @Html.Partial("_SchedulePV.cshtml")


    @*I have created partial wiews for basic LAYOUT design. This part has _BannerAreaPV.cshtml'code ' *@
    @Html.Partial("_Testimonials.cshtml")

    @*I have created partial wiews for basic LAYOUT design. This part has _BannerAreaPV.cshtml'code ' *@
    @Html.Partial("_FooterPV.cshtml")

    @*I have created partial wiews for basic LAYOUT design. This part has _BannerAreaPV.cshtml'code ' *@
    @Html.Partial("_FooterPV.cshtml")

    @*I have created partial wiews for basic LAYOUT design. This part has _BannerAreaPV.cshtml'code ' *@
    @Html.Partial("_JsPV.cshtml")
   

  </body>
</html>